@media (min-width: 576px) {
  container {
    max-width: 540px;
  }
}
.container {
  width: 100%;
  margin: 3.125rem auto 0 auto;
}
div {
  display: block;
}
.header {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
}
header {
  display: block;
}
.text-center {
  text-align: center;
}
h1,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
h1 {
  font-weight: 400;
  line-height: 1.2;
}
.description {
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgb(0, 0, 0 / 40%);
}
p {
  font-size: 1.125rem;
}
